<div class="container">
  <form [formGroup]="categoryForm" (ngSubmit)="refreshCategories()" class="form-horizontal">
    <div class="row">
      <div class="col form-control-sm">
        <div>
          <h3>SF-36</h3>
        </div>

        <div class="form-group my-1">
          <label for="sf1"><input id="sf1" formControlName="QSVT" type="checkbox">
            vitality</label>
        </div>

        <div class="form-group my-1">
          <label for="sf2"><input id="sf2" formControlName="QSPF" type="checkbox">
            physical functioning</label>
        </div>

        <div class="form-group my-1">
          <label for="sf3"><input id="sf3" formControlName="QSBP" type="checkbox">
            bodily pain</label>
        </div>

        <div class="form-group my-1">
          <label for="sf4"><input id="sf4" formControlName="QSGP" type="checkbox">
            general health perceptions</label>
        </div>

        <div class="form-group my-1">
          <label for="sf5"><input id="sf5" formControlName="QSRP" type="checkbox">
            physical role functioning</label>
        </div>

        <div class="form-group my-1">
          <label for="sf6"><input id="sf6" formControlName="QSSO" type="checkbox">
            social role functioning</label>
        </div>

        <div class="form-group my-1">
          <label for="sf7"><input id="sf7" formControlName="QSRE" type="checkbox">
            emotional role functioning</label>
        </div>

        <div class="form-group my-1">
          <label for="sf8"><input id="sf8" formControlName="QSME" type="checkbox">
            mental health</label>
        </div>
      </div>
      <div class="col form-control-sm">
        <div>
          <h3>VFQ-25</h3>
        </div>
        <div class="form-group my-1">
          <label for="vfq1"><input id="vfq1" formControlName="QSBGH" type="checkbox">
            general health</label>
        </div>

        <div class="form-group my-1">
          <label for="vfq2"><input id="vfq2" formControlName="QSBGV" type="checkbox">
            general vision</label>
        </div>

        <div class="form-group my-1">
          <label for="vfq3"><input id="vfq3" formControlName="QSOP" type="checkbox">
            ocular pain</label>
        </div>

        <div class="form-group my-1">
          <label for="vfq4"><input id="vfq4" formControlName="QSNA" type="checkbox">
            near activities</label>
        </div>

        <div class="form-group my-1">
          <label for="vfq5"><input id="vfq5" formControlName="QSDA" type="checkbox">
            distance activities</label>
        </div>

        <div class="form-group my-1">
          <label for="vfq6"><input id="vfq6" formControlName="QSSF" type="checkbox">
            social functioning</label>
        </div>

        <div class="form-group my-1">
          <label for="vfq7"><input id="vfq7" formControlName="QSMH" type="checkbox">
            mental health</label>
        </div>

        <div class="form-group my-1">
          <label for="vfq8"><input id="vfq8" formControlName="QSRD" type="checkbox">
            role difficulties</label>
        </div>

        <div class="form-group my-1">
          <label for="vfq9"><input id="vfq9" formControlName="QSDP" type="checkbox">
            dependency</label>
        </div>

        <div class="form-group my-1">
          <label for="vfq10"><input id="vfq10" formControlName="QSDV" type="checkbox">
            driving</label>
        </div>

        <div class="form-group my-1">
          <label for="vfq11"><input id="vfq11" formControlName="QSCV" type="checkbox">
            color vision</label>
        </div>

        <div class="form-group my-1">
          <label for="vfq12"><input id="vfq12" formControlName="QSPV" type="checkbox">
            peripheral vision</label>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button (click)="refreshCategories()" class="btn btn-success" type="button">Refresh</button>
    </div>

  </form>

  <div class="row">
    <label for="file">
      choose patient file (*.csv)
    </label>
    <input id="file" type="file" accept=".csv" (change)="readCsv($event)">

  </div>
</div>
