<div id="master" class="container-lg d-flex justify-content-between background">
  <div class="row row-cols-3">
    <div class="col-xs inboxContainer">
      <app-settings></app-settings>
    </div>
    <div class="col ">
      <div class="row ">
        <app-cluster-graph></app-cluster-graph>
      </div>
      <div class="row">
        <app-ego-graph></app-ego-graph>
      </div>
    </div>
    <div class="col-0 ">
      <div class="row ">
        <app-nodelink></app-nodelink>
      </div>
      <div class="row ">

      </div>
    </div>

  </div>
</div>
<router-outlet></router-outlet>
